- return unless show_license_check_settings_alert?(project)

= render Pajamas::AlertComponent.new(variant: :warning,
  title: s_('SecurityOrchestration|License-Check has been deprecated'),
  alert_options: { class: 'js-license-check-deprecation-alert',
                    data: { testid: 'settings-license-check-deprecation-alert',
                            feature_id: ::EE::SecurityOrchestrationHelper::LICENSE_CHECK_DEPRECATION_ALERT,
                            dismiss_endpoint: project_callouts_path,
                            project_id: project.id }},
  close_button_options: { data: { testid: 'dismiss-settings-license-check-deprecation-alert' }}) do |c|
  = c.body do
    = deprecate_license_alert_settings_message(project)
  = c.actions do
    = render Pajamas::ButtonComponent.new(variant: :confirm,
      href: project_callouts_path(project_id: project, feature_id: ::EE::SecurityOrchestrationHelper::LICENSE_CHECK_DEPRECATION_ALERT),
      button_options: { data: { testid: 'settings-license-check-deprecation-alert-dismiss-button' }, class: 'js-close', 'aria-label'=> _('Dismiss')}) do
      = _('Dismiss')
    = render Pajamas::ButtonComponent.new(button_options: { class: 'gl-ml-3' },
      href: help_page_path('user/application_security/policies/scan-result-policies')) do
      = _('Learn more')
